<div id="fb-root"></div>
<script src="http://connect.facebook.net/cs_CZ/all.js"></script>
<script>
  // initialize the library with the API key
  FB.init({ apiKey: "<%= APP_CONFIG['api_key'] %>", cookie: false });
	FB.Canvas.setAutoResize();
	
  // fetch the status on load
	FB.getLoginStatus(function(response) {
	  if (response.session) {
	    // logged in and connected user, someone you know
			// rails backend will read the signed_request and make the redirect
			alert(response.session);
	  } else {
	    // no user session available, someone you dont know
			top.location = "http://www.facebook.com/login.php?v=1.0&api_key=<%= APP_CONFIG['api_key'] %>&display=page&fbconnect=0&canvas=1&req_perms=publish_stream,user_likes" // request login permissions
			return;
	  }
	});

</script>

<h1>dashboard</h1>

<% if @token %>
	<p>You have now successfully authenticated thru the OAuth 2.0 process.</p>
	<p>Your token is: <%= @token %></p>
	
	<h3>about you</h3>

	<table>
		<% @me.each do |k,v| %>
			<tr><td><%= k %></td><td><%= v %></td></tr>
		<% end %>
	</table>
	
	<h3>you can e.g. send messages thru both old rest api and the new graph api</h3>
	<p>(of course you need stream_publish permissions for that)</p>
	
	<form action="/restapi" method="post" accept-charset="utf-8">
		<label for="message">Message:</label><input type="text" name="message" value="sent thru rest api" id="message">
		<p><input type="submit" value="Send thru rest api &rarr;"></p>
	</form>
	
	<form action="/graphapi" method="post" accept-charset="utf-8">
		<label for="message">Message:</label><input type="text" name="message" value="sent thru graph api" id="message">
		<p><input type="submit" value="Send thru graph api &rarr;"></p>
	</form>
	
<% else %>
	<p>Not authenticated.</p>
<% end %>
